<!DOCTYPE html>
<html>

<head>
    <title>ex1</title>
    <link rel=StyleSheet href="./css/styles.css" type="text/css">
</head>

<body>
    <div class="stripe">
        <nav>
            <a>Order</a>
            <a>About Us</a>
        </nav>
    </div>
    <div class="stripe menu">
        <div class="block logo">
            <img src="./img/itc_logo.png" />
        </div>
        <div class="block links">
            <span><a href="/about">About</a></span>
            <a href="/about">The program</a>
            <a href="/about">Highlights</a>
            <a href="/about"><img src="./img/bag.png"></a>
            <a href="/about"><img src="./img/search.png"></a>
            <a href="/about"><img src="./img/apple.png"></a>
        </div>
    </div>
</body>

</html>